// _product_list.scss

.product_list_widget {
	li {
		border: none;
		display: inline-block;
		width: 25%;
		margin-right: 12%;
		&:first-child, &:first-child a {
			border-bottom: none;
			border-top: none;
		}
		&:last-child {
			margin-right: 0;
		}
		a {
			border: none;
			@media(max-width: $medium-large) {
				display: block;
				padding: 0;
				img {
					display: inline-block;
					margin: 0;
					vertical-align: middle;
				}
			}
		}
		a span {
			display: block;
			text-align: center;
			font-family: $primary-font;
			color: $black;
			@media(max-width: $medium-large) {
				color: white;
				text-align: left;
				display: inline-block;
				vertical-align: middle;
				font-size: 25px;
				margin-left: 1.5%;
			}
		}
		@media(max-width: $medium-large) {
			display: block;
			background-color: $black;
			width: 100%;
			margin: 1.5% 0;
		}
	}

	.amount {
		display: none;
	}
}

// $medium-large
